<%= form_tag(controller: "index", action: "add") do %>
<%= label_tag 'product','New Product:' %>
<br>
<%= text_field_tag 'product'%>
<br>
<%= submit_tag 'add to cart'%>
<% end %>

<h1><%= @cart.each do |product| %></h1>
<h3>  <%= product %></h3>
      <% end %>
